<div class="container-fluid">
  <h4 class="text-primary">URL Parser</h4>
  <div class="row">
    <div class="col-md-7">
      <div>
        <p>(1) Paste URL here and then parse</p>
        <textarea class="form-control form-control-lg" placeholder="Paste the url here" [(ngModel)]="orginalUrl"
          oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
        <span class="text-danger" [class.error-hidden]="!isInvalidUrl">Enter a valid URL..</span>
        <br>
        <button type="button" class="btn btn-primary" style="min-width: 170px; margin-right: 10px" (click)="onParse()">Parse</button>
        <button type="button" class="btn btn-outline-primary" style="min-width: 120px" (click)="onClear()">Clear</button>
      </div>
      <hr>
      <div [hidden]="!isUrlParsed">
        <p>(2) Change any of the parsed values in the table to the right and then generate a new URL</p>
        <button type="button" class="btn btn-primary" (click)="onGenerateUrl()">Generate new URL</button>
        <br><br>
        <textarea rows="10" class="form-control form-control-lg" [(ngModel)]="generatedUrl"></textarea>
        <br>
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
    <div class="col-md-5">
      <div class="table-responsive" [hidden]="!isUrlParsed">
        <table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of refrenceKeys">
              <td style="padding:0; vertical-align:middle">{{key}}</td>
              <td style="padding:0"><input style="width:100%" class="form-control-sm" [(ngModel)]="paymentRequest[key]"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
